
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back-color {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(45deg, black, crimson);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 15px;
}

#input-text {
  width: 207px;
  height: 30px;
  background-color: #fff;
  font-size: 25px;
  color: black;
  text-align: right;
  padding: 5px;
  margin: 6px 0px;
}

.grid-area {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px;
}

.calc-buttons {
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border: none;
  color: #fff;
}

.btn-zero {
  width: 103px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.btn-dot {
  grid-column-start: 3;
}

.btn-equal {
  height: 103px;
}

.botao:hover {
  background-color: black;
}

