
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fundo {
  background-image: linear-gradient(45deg, black, crimson);
  height: 100vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.calculadora {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 15px;
}

.reader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px;

  margin: 9px 3px;
}

.botao {
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border: none;
  color: #fff;
}

.bt-zero {
  width: 103px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.point {
  grid-column-start: 3;
}

.bt-equal {
  height: 103px;
}

.botao:hover {
  background-color: black;
}

#resultado {
  width: 207px;
  height: 30px;
  background-color: #fff;
  font-size: 25px;
  color: black;
  text-align: right;
  padding: 5px;
}